# Bonus: Temperature Analysis I

In [118]:
import pandas as pd
from datetime import datetime as dt
import datetime as dt

In [119]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [127]:
# Convert the date column format from string to datetime

df['date index']= pd.to_datetime(df['date'])

In [128]:
# Set the date column as the DataFrame index
df = df.set_index('date index')
df.sort_index()

                station        date  prcp  tobs date_index
date index
2010-01-01  USC00519397  2010-01-01  0.08    65 2010-01-01
2010-01-01  USC00518838  2010-01-01  0.21    72 2010-01-01
2010-01-01  USC00519523  2010-01-01  0.15    75 2010-01-01
2010-01-01  USC00519281  2010-01-01  0.15    70 2010-01-01
2010-01-01  USC00511918  2010-01-01  0.05    66 2010-01-01
...                 ...         ...   ...   ...        ...
2017-08-22  USC00516128  2017-08-22  0.50    76 2017-08-22
2017-08-23  USC00519397  2017-08-23  0.00    81 2017-08-23
2017-08-23  USC00514830  2017-08-23  0.00    82 2017-08-23
2017-08-23  USC00519523  2017-08-23  0.08    82 2017-08-23
2017-08-23  USC00516128  2017-08-23  0.45    76 2017-08-23

[19550 rows x 5 columns]

In [129]:
# Drop the date column
df = df.drop(['date'], axis=1)
df.head()

                station  prcp  tobs date_index
date index
2010-01-01  USC00519397  0.08    65 2010-01-01
2010-01-02  USC00519397  0.00    63 2010-01-02
2010-01-03  USC00519397  0.00    74 2010-01-03
2010-01-04  USC00519397  0.00    76 2010-01-04
2010-01-06  USC00519397   NaN    73 2010-01-06

### Compare June and December data across all years

In [91]:
from scipy import stats

In [131]:
# Filter data for desired months
df['month'] = (df.index).strftime('%m')

june_list = df.loc[df['month']=='06',:]
december_list = df.loc[df['month']=='12',:]

                station  prcp  tobs date_index month
date index
2010-12-01  USC00519397  0.04    76 2010-12-01    12
2010-12-03  USC00519397  0.00    74 2010-12-03    12
2010-12-04  USC00519397  0.00    74 2010-12-04    12
2010-12-06  USC00519397  0.00    64 2010-12-06    12
2010-12-07  USC00519397  0.00    64 2010-12-07    12
...                 ...   ...   ...        ...   ...
2016-12-27  USC00516128  0.14    71 2016-12-27    12
2016-12-28  USC00516128  0.14    71 2016-12-28    12
2016-12-29  USC00516128  1.03    69 2016-12-29    12
2016-12-30  USC00516128  2.37    65 2016-12-30    12
2016-12-31  USC00516128  0.90    65 2016-12-31    12

[1517 rows x 5 columns]

In [137]:
# Identify the average temperature for June
avg_june = round(june_list['tobs'].mean(),2)
print(f'Average temperature in June is {avg_june}')

Average temperature in June is 74.94

In [138]:
# Identify the average temperature for December
avg_december = round(december_list['tobs'].mean(),2)
print(f'Average temperature in December is {avg_december}')

Average temperature in December is 71.04

In [ ]:
# Create collections of temperature data
june_list = df.loc[df['month']=='06',:]
december_list = df.loc[df['month']=='12',:]

In [140]:
# Run paired t-test
stats.ttest_ind(june_list['tobs'], december_list['tobs'], equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis